name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Test
    runs-on: macos-26

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build App
      run: |
        xcodebuild clean build \
          -scheme "Clipboard" \
          -destination "platform=macOS" \
          -configuration Release \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED=NO \
          derivedDataPath .build
